<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>775339750345-baiqtr7t202d5r8amd2apfoj6lp06a80.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.775339750345-baiqtr7t202d5r8amd2apfoj6lp06a80</string>
	<key>API_KEY</key>
	<string>AIzaSyDO8cqsul3D4rFO4tGm5iZ-pyGs2e8mpws</string>
	<key>GCM_SENDER_ID</key>
	<string>775339750345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anapact.bletest</string>
	<key>PROJECT_ID</key>
	<string>log-in-4921e</string>
	<key>STORAGE_BUCKET</key>
	<string>log-in-4921e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775339750345:ios:8a266ecf4ec736899d6e18</string>
</dict>
</plist>